---
import Layout from "../layouts/Layout.astro";
const photos = [
  "https://images.unsplash.com/photo-1600585154340-be6161a56a0c?w=800",
  "https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?w=800",
  "https://images.unsplash.com/photo-1600566753086-00f18fb6b3ea?w=800",
  "https://images.unsplash.com/photo-1600585154526-990dced4db0d?w=800",
  "https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800",
  "https://images.unsplash.com/photo-1512917774080-9991f1c4c750?w=800",
  "https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=800",
  "https://images.unsplash.com/photo-1583608205776-bfd35f0d9f83?w=800",
];
---

<Layout title="002. Scroll ImageAnimation">
  <section class="fv">
    <h1>Scroll ImageAnimation</h1>
    <div class="box">
      <span class="text">Scroll</span>
      <span class="line"></span>
    </div>
  </section>
  <section class="section">
    <div class="track" data-scroll-track="">
      <div class="pin" data-scroll-pin="">
        <div class="list" data-scroll-list="">
          {
            photos.map((photo) => (
              <div class="item" data-scroll-item="">
                <div class="image" data-scroll-image="">
                  <img src={photo} alt="" />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .fv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: relative;
  }
  .box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .line {
    width: 1px;
    height: 40px;
    display: block;
    background-color: #fff;

    animation: scroll 2s infinite;
  }
  @keyframes scroll {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    51% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
  .section {
    overflow: clip;
  }
  .track {
    position: relative;
    width: 100%;
    height: 300vh;
  }
  .pin {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
  }
  .item {
    width: 100%;
    height: 50vh;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script>
  // @ts-nocheck
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  class ScrollImageAnimation {
    constructor() {
      this.count = 8;
      this.radius = 500;
      this.selector = {
        track: document.querySelector("[data-scroll-track]"),
        pin: document.querySelector("[data-scroll-pin]"),
        items: document.querySelectorAll("[data-scroll-item]"),
        images: document.querySelectorAll("[data-scroll-image]"),
      };
      this.init();
    }

    init() {
      this._setInitialPositions();
      this._initScrollTrigger();
      this._initResizeHandler();
    }

    _setInitialPositions() {
      const list = document.querySelector("[data-scroll-list]");
      const listRect = list.getBoundingClientRect();
      const listCenterX = listRect.left + listRect.width / 2;
      const listCenterY = listRect.top + listRect.height / 2;
      this.selector.images.forEach((image, index) => {
        const itemRect = this.selector.items[index].getBoundingClientRect();
        const imageWidth = listRect.width / 4;
        const imageHeight = listRect.width / 4;
        const imageX = listCenterX - (itemRect.left + imageWidth / 2);
        const imageY = listCenterY - (itemRect.top + imageHeight / 2);
        gsap.set(image, {
          x: imageX,
          y: imageY,
          width: imageWidth + "px",
          height: imageHeight + "px",
        });
      });
    }

    _initScrollTrigger() {
      this.selector.images.forEach((image, index) => {
        const itemRect = this.selector.items[index].getBoundingClientRect();
        gsap.to(image, {
          scrollTrigger: {
            trigger: this.selector.track,
            start: "top top",
            end: "center top",
            scrub: true,
            // markers: true,
          },
          x: "0px",
          y: "0px",
          width: itemRect.width,
          height: itemRect.height,
          ease: "none",
        });
      });
    }

    _debounce(fn, delay) {
      let timer;
      return (...args) => {
        clearTimeout(timer);
        timer = setTimeout(() => fn.apply(this, args), delay);
      };
    }

    _initResizeHandler() {
      const onResize = this._debounce(() => {
        ScrollTrigger.getAll().forEach((t) => t.kill());
        this._setInitialPositions();
        this._initScrollTrigger();
      }, 200);

      window.addEventListener("resize", onResize);
    }
  }

  new ScrollImageAnimation();
</script>
